/* Global styles */
body {
    background: linear-gradient(to bottom, #0E1117, #1C1E26); /* Dark blue-black gradient background */
    color: #FFFFFF; /* White text */
    font-family: 'Outfit', sans-serif; /* Applying 'Outfit' font */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Dark glassy background */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.title-card, .abstract-card, .article-card, .details-card {
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Glass card background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px); /* Slight glass effect */
    transition: all 0.3s ease-in-out;
}

.title-card h1, .details-card h2 {
    color: #FFFFFF; /* White text for titles */
    font-size: 24px;
    margin-bottom: 10px;
}

.abstract-card p, .article-card p, .details-card p {
    color: #CCCCCC; /* Light gray text for content */
    font-size: 16px;
    line-height: 1.6;
}

.details-card ul {
    list-style-type: none;
    padding: 0;
}

.details-card li {
    margin-bottom: 10px;
}

/* Hover effect for glass sections */
.title-card:hover, .abstract-card:hover, .article-card:hover, .details-card:hover {
    border: 1px solid #FFFFFF; /* White border on hover */
    transform: scale(1.02); /* Slightly scale up on hover for depth effect */
}

/* Glass effect for project details container */
#project-details {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Dark glassy background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px); /* Slight glass effect */
    transition: all 0.3s ease-in-out; /* Smooth transition for all properties */
}

#project-details h1 {
    color: #FFFFFF; /* White text for title */
    font-size: 28px;
    margin-bottom: 10px;
}

#project-details p {
    color: #CCCCCC; /* Light gray text for content */
    font-size: 16px;
    line-height: 1.6;
}

/* Hover effect for project details */
#project-details:hover {
    border: 1px solid #FFFFFF; /* White border on hover */
    transform: scale(1.02); /* Slightly scale up on hover for depth effect */
}
